.slideList {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow-y: auto;
  min-width: 150px;
}

.item__wrapper {
  display: flex;
  max-height: fit-content;

  user-select: none;
}

.item {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.item:hover {
  box-shadow: 0 0 0 3px #e2e7ea;
  cursor: pointer;
}

.item__number {
  display: flex;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 500;

  padding-top: 15px;
  margin-left: 25px;
}
