.editColorButton {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  height: 32px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  align-items: center;
  justify-content: center;

  color: #444746;
  padding: 1px 6px;
  border-radius: 4px;

  user-select: none;
}

.editColorButton:hover {
  background-color: #e2e7ea;
}

.editColorButton__underline {
  display: flex;
  width: 22px;
  height: 4px;
}

.dropdown {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 7px 0 #b9b9b9;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 210px;
}

.decideButton {
  background-color: transparent;
  border: none;
  color: #444746;
  font-size: 14px;
  height: 25px;
  margin-left: 15px;
  margin-right: 15px;
  font-family: "Roboto", sans-serif;
  min-width: fit-content;
}

.decideButton.selected {
  border-bottom: 2px solid rgb(244, 80, 0);
}
